body            { font-family: sans-serif; background: #E0F0FF; }
a, h1, h2       { color: #297ACC; }
h1, h2          { font-family: 'Arial', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 3px solid #AED6FF;
									-moz-border-radius: 15px;
									border-radius: 15px;
                  padding: 0.8em; background: white; }
/*.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }*/
/*.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
*/
.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em; margin-left: -1em; margin-right: -1em;
                  margin-bottom: 1em; margin-top: 1em; background: white; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.title					{ text-align:center;}
.library_list 	{ 
	margin: 0; 
	padding: 0;
/*	height: 150px; */
	width: 150px; 
/*	background: red; */
	float: left;
	text-align:left;
	border-right: 1px solid grey;
}

.library_list ul{
/*	padding-left: -20px;*/
	margin: 0; 
	padding: 0;
}

.library_list li{
	border: 1px solid #AED6FF;
	padding: 2px;
	margin-right: 10px;
	list-style-type:none;
	-moz-border-radius: 5px;
	border-radius: 5px; background: #E0F0FF;
	margin-bottom: 5px;
}
.library_entries{
	margin: 0 0 0 150px; 
	padding: 0; 
	position:relative;
/*	height: 180px; 
	width: 180px; 
*/
/*	background: blue;*/
}
.library_entries ul{
/*	padding-left: -20px;*/
	margin-top: 0px; 
	padding-top: 0;
}