<!doctype html>
<!-- Thanks to http://www.clker.com/clipart-13486.html -->
<title>muzyka</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="page">
	<div class="title">
  		<h1>muzyka</h1>
	</div>
  <div class=metanav>
	<a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('playlists') }}">Playlists</a> | <a href="{{ url_for('player') }}">Player</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% block body %}{% endblock %}
</div>