{% extends "playlists_layout.html" %}
{% block playlist_main %}
Create new PlaylistEntry<br>
<form action="" method="post">
    <dl>
      <dt>Title:
      <dd><input type="text" name="title" value="{{
          request.form.title }}">
      <dt>Path:
      <dd><input type="text" name="path" value="{{
          request.form.path }}">
    </dl>
    <p><input type=submit value="Create">
  </form>
{% endblock %}