{% extends "application.html" %}
{% block body %}
  <h2>Playlists</h2>
	<br>
<!-- Showing your Playlists:<br> -->
<div class="library_list">
	<a href="{{ url_for('new_playlist') }}">
	Add Playlist</a><br><br>
	<ul>
		<li>Local Media</li>
		{% for playlist in playlists %}
		<li> <a href="{{ url_for('show_playlist', id = playlist.id) }}">
		{{ playlist.title }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="library_entries">
{% block playlist_main %}{% endblock %}
</div>
{% endblock %}