{% extends "playlists_layout.html" %}
{% block playlist_main %}
	<ul>
		<li>Song #1</li>
		<li>Song #2</li>
		<li>Song #3</li>
		<li>Song #2</li>
		<li>Song #1</li>
		<li>Song #2</li>
		<li>Song #1</li>
		<li>Song #2</li>
		<li>Song #1</li>
		<li>Song #2</li>
	</ul>
{% endblock %}