{% extends "playlists_layout.html" %}
{% block playlist_main %}
	<a href="{{ url_for('new_playlist_entry', id = playlist.id) }}">Add new PlaylistEntry</a>
	<br>
	<br>
	<ul>
		<!-- <li>Song #1</li>
		<li>Song #2</li> -->
		{% if playlist.playlistEntries.count() == 0 %}
			This Playlist is empty
		{% endif %}
			
		{% for playlistEntry in playlist.playlistEntries %}
		<li> <a href="{{ url_for('playPlaylistEntry_player', id = playlistEntry.id) }}"> {{ playlistEntry.title }} </a> </li>
		{% endfor %}
	</ul>
{% endblock %}